################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code Analysis Logic/.vs/Code Analysis Logic
